.botlabel {
    padding: 5px;
    font-size: 16px;
    color: #fff;
    margin-top: 1px;
}

.save {
    background-color: #04AA6D;
    /* Green */
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: auto;
    display: flex;
}

.save {
    transition-duration: 0.4s;
}

.save:hover {
    background-color: #06c982;
}

.title {
    margin-left: auto;
    margin-right: auto;
}

.container {
    max-width: 900px;
}

.teste {
    border-radius: 6px;
    border-width: 2px 1.5em;
    border: solid #ff56bb;
}