<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Adicione esta regra para lidar com o fallback
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>